<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCvO289XjApLcg8Q-Mk1foCeBKVAlW_MHc",
      authDomain: "itayatest.firebaseapp.com",
      databaseURL: "https://itayatest.firebaseio.com",
      projectId: "itayatest",
      storageBucket: "itayatest.appspot.com",
      messagingSenderId: "754161336003"
    };
    firebase.initializeApp(config);
    var database = firebase.database();
    //var ref = database.ref("server/saving-data/fireblog/posts");

  </script> 
    <script type="text/x-template" id="hello">
  	  <div id="app-4">    
        <ol>
    	    <li v-for="context in contexts" style="list-style:none;">
              {% raw %}  {{ context.user }} {{ context.context }} {% endraw %}
          </li>
    	  </ol>
      </div>
    </script>
 <link rel="stylesheet" href="">
</head>
<body>
	<div id="app-4">
    </div>
	<script>
        // ここあとで変える
        document.cookie = '1';
//データの一回読み取り
    // firebase.database().ref('/rooms/room1/chats').once('value').then(function(snapshot) {
    //     var messages = snapshot.val();
    //     var app = new Vue({
    //         el: '#app-4',
    //         template: "#hello",
    //         data: {
    //             contexts:messages
    //         }
    //     })

    // });
  
  // //データの変更を検知
  var starCountRef = firebase.database().ref('/rooms/room1/chats');
  starCountRef.on('value', function(snapshot) {
    //console.log(snapshot.val());
    var contexts = snapshot.val();
    var app = new Vue({
        el: '#app-4',
        template: "#hello",
        component:{
          template: '{{ context.user }}'
        },
        data: {
            contexts:contexts
        }
    })
  });


  //データの書き込み
  function writeUserData() {
    var context = document.getElementById('input_text').value
    firebase.database().ref('rooms/room1/chats').push(
      {user:document.cookie,context:context});
  }
  //writeUserData("1",'itaya',"s@gmail","iii");
</script>
<input type="text" id="input_text" value="" placeholder="">
<input type="button" name="" value="" onclick="writeUserData()">
</body>
</html>
