<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
    <div class="container">
      <div class="starter-template">
        <h1>安心発信サービス</h1>
        <p>
        <a href="/siritai" class="btn btn-success menu">
          知りたい
        </a>
        </p>
        <p>
        <a href="/oshietai" class="btn btn-info menu">
          教えたい
        </a>
        </p>
      </div>
    </div><!-- /.container -->
</body>
<style>
.menu{
  width: 100%;
  height: 50px;
  font-size: 12px;
}
  
</style>
</html>