<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCvO289XjApLcg8Q-Mk1foCeBKVAlW_MHc",
      authDomain: "itayatest.firebaseapp.com",
      databaseURL: "https://itayatest.firebaseio.com",
      projectId: "itayatest",
      storageBucket: "itayatest.appspot.com",
      messagingSenderId: "754161336003"
    };
    firebase.initializeApp(config);
    var database = firebase.database();
    //var ref = database.ref("server/saving-data/fireblog/posts");

  </script>
  <script type="text/x-template" id="chatRoomCandidate">
    <div>
      <div v-for="room in rooms">
        {% raw %} <a href="/chat?counselor_flag=true">{{ rooms["tag"] }}について相談したい人がいます</a> {% endraw %}
      </div>
    </div>
  </script>
  <style>
  body{
    background-color: #EEE8D5;
    color: #002b36;
  }
  </style>
</head>
<body>
  <div class="starter-template">
  <h3>
    <p>
    ご登録ありがとうございます。
    </p>
    <p>
  {{ item_names[0] }}
  {% for item_name in item_names[1:] %}
    ・{{ item_name }}
  {% endfor %}
  について相談したい人が来たらお知らせします。
    </p>
  </h3>

  <div id="roomCandidates">
  </div>
  </div>

  <script>
    var app = new Vue({
      el: '#roomCandidates',
      template: "#chatRoomCandidate",
      data: {
        rooms: []
      }
    });
    var counselor_id = {{ user_id }};
    var ref = firebase.database().ref('/counselors/' + counselor_id);

    ref.on('value', function(snapshot) {
      app.rooms = snapshot.val();
    });
  </script>
</body>
</html>
